html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* max-width: 1024px; */
  transition: .5s;
  font-family: 'Roboto', sans-serif;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


body,
.App {
  min-height: 100vh;
  background-color: #05292E;
}


/* loader */

.flex__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1.5rem;
  align-items: center;
  max-width: 250px;
  height: 100%;
}

.loading {
  padding-left: 20px;
  animation: loader-animation 1s infinite;
}

@keyframes loader-animation {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 5px);
  }

  75% {
    transform: translate(0, -5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

/* header img */

.header__img {
  height: 250px;
  width: 100%;
}

.header__img>img {
  object-fit: cover;
  object-position: 50% 45%;
  height: 100%;
  width: 100%;

}

/* header */

.dimension__info {
  background-color: #062226;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  border: solid .5px #bfde3f;
  box-shadow: 0px 0px 5px 2px rgba(191, 222, 63, 0.73);
  color: #FFFFFF;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.dimension__info--title {
  text-align: center;
  margin: 0;
}


.cards__container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.resident__container {
  color: #FFFFFF;
  background-color: #062226;
  position: relative;
  max-width: 300px;
  border: solid .5px #bfde3f;
  box-shadow: 0px 0px 5px 2px rgba(191, 222, 63, 0.73);
}

.resident__status--container {
  position: absolute;
  background-color: #062226;
  padding: 2px 1rem 2px .5rem;
  top: 5%;
  font-size: small;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: solid .2px black;
}

.bxs-circle {
  margin-right: 5px;
}

.resident__type {
  color: #7E7E7E;
}

.Alive {
  color: #4AB648;
}

.Dead {
  color: #B94343;
}

.unknown {
  color: #938686;
}

.resident__body {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.filter__container {
  position: relative;
}


.filter__list {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 100;
  background-color: hsla(188, 73%, 9%, 0.73);
  min-width: 250px;
  width: 30%;
  border: 1px solid black;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #FFFFFF;
  font-size: small;
}

.hidden__list {
  border: none;
}

.filter__list>li {
  border-bottom: solid .2px hsla(22, 0%, 87%, 0.73);
  padding: .5rem;
}

.filter__list>li:last-of-type {
  border: none
}

.filter__list>li:hover {
  background-color: rgba(191, 222, 63, 0.73);
  cursor: pointer;
}

.form__container {
  text-align: center;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.form__flex {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.input__search {
  min-width: 250px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  transition: .5s;
  border: solid 1px black;
  padding: 2px;
  background-color: #413131;
  color: #FFFFFF;
  height: 30px;
}

.input__search:focus {
  border: solid 1px #bfde3f;
  box-shadow: 0px 0px 5px rgba(191, 222, 63, .73);
  outline: none;
  background-color: #413131;
  color: #FFFFFF;

}

.btn__search {
  width: 100px;
  border: solid 1px black;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
  transition: 0.5s;
  background-color: #413131;
  color: #FFFFFF;
  font-weight: bold;
  height: 30px;
}

.btn__search:hover {
  border: solid 1px #bfde3f;
  box-shadow: 0px 0px 5px rgba(191, 222, 63, .73);
}

.dimension__header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0 1.5rem 0;
}

.list__info {
  font-size: small;
}

.btn__container {
  text-align: center;
}

.btn__container p {
  margin: 0;
  margin-top: 5px;
  font-size: small;
}

.btn__dimension {
  color: #938686;
  transition: .5s;
  cursor: pointer;
}

.btn__dimension:hover {
  color: #bfde3f;
}

.btn__hidden {
  visibility: hidden;
}

.dimension__info {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.error__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img__error {
  width: 100px;
}

.population__container img {
  width: 250px;
}

.population__container {
  color: #FFFFFF;
  text-align: center;
}

.filter__list,
.dimension__info,
.resident__container {
  animation: displaying 2s infinite;
  transition: 2s;
}

@keyframes displaying {
  from {
    opacity: transparent;
  }

  to {
    opacity: 100;
  }

}

@media (max-width:629px) {

  .form__flex {
    flex-direction: column;
    row-gap: 1rem;
  }

  .list__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }

  .dimension__info ul>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
  }

  .dimension__info ul>li:nth-child(3) {
    grid-row: 1/2;
    grid-column: 2/3;

  }

  .dimension__header--container {
    font-size: 0.9em;
  }

  .dimension__header--container p {
    display: none;
  }

  .header__img {
    height: 150px;
    background-image: url("https://c4.wallpaperflare.com/wallpaper/400/348/44/rick-and-morty-adult-swim-cartoon-rick-sanchez-wallpaper-preview.jpg");
    background-size: cover;
    background-position: 50% 25%;

  }

  .header__img img {
    visibility: hidden;
  }


  .list__param {
    padding-right: 0;
  }

}

@media (min-width:630px) {

  .dimension__info>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .dimension__info ul>li {
    display: flex;
    /* padding: .5rem; */
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .dimension__info ul>li>span {
    padding-right: 0.5rem;
  }
}